{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": ["./node_modules/prettier-plugin-blade/"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
