includes:
    - phpstan-baseline.neon
parameters:
    level: 4
    paths:
        - src
        - tests
        - resources
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        analyse:
            - src/FilamentShield.php
            - src/Resources/RoleResource/Pages/CreateRole.php
            - src/Resources/RoleResource/Pages/EditRole.php
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to method getModel\(\) on an unknown class BezhanSalleh\\FilamentShield\\Commands\\EloquentUserProvider#'
        - '#Call to method getProvider\(\) on an unknown class BezhanSalleh\\FilamentShield\\Commands\\SessionGuard#'
        -
            message: '#Call to an undefined static method [a-zA-Z0-9\\_]+::whereName\(\)#'
            path: src/Commands/MakeShieldSuperAdminCommand.php
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$permissions#'
            path: src/Resources/RoleResource.php
        -
            message: '#Call to an undefined method Illuminate\\Foundation\\Auth\\User::hasRole\(\)#'
            paths:
                - src/Resources/RoleResource/Pages/ListRoles.php
                - src/Pages/ShieldSetting.php
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$form#'
            paths:
                - src/Resources/RoleResource/Pages/EditRole.php
                - src/Resources/RoleResource/Pages/CreateRole.php
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$onlyWidgets#'
            path: src/Commands/MakeShieldGenerateCommand.php
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]#'
            path: src/Commands/MakeShieldSeederCommand.php

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

