parameters:
    level: 5
    paths:
        - src

    ignoreErrors:
        -
            identifier: argument.unresolvableType
        -
            identifier: argument.type
        -
            identifier: trait.unused
        -
            identifier: typeCoverage.paramTypeCoverage
        -
            identifier: property.notFound
        -
            identifier: method.notFound

    checkOctaneCompatibility: true
    checkModelProperties: true
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true